rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read and write all documents since the system manages access inside the application
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
